# Load NRCan Data from Relevant Region

In [15]:
import pandas as pd
from datetime import datetime
import os

In [16]:
load_list = []
for item in os.listdir("data"):
    if item[:15] == 'daily_20220922T':
        load_list.append(item)
load_list

['daily_20220922T0744.csv',
 'daily_20220922T0749.csv',
 'daily_20220922T0750.csv',
 'daily_20220922T0752.csv',
 'daily_20220922T0754.csv',
 'daily_20220922T0756.csv',
 'daily_20220922T0757.csv',
 'daily_20220922T0759.csv',
 'daily_20220922T0801.csv',
 'daily_20220922T0803.csv',
 'daily_20220922T0804.csv',
 'daily_20220922T0806.csv',
 'daily_20220922T0808.csv',
 'daily_20220922T0809.csv',
 'daily_20220922T0811.csv',
 'daily_20220922T0812.csv',
 'daily_20220922T0814.csv',
 'daily_20220922T0815.csv',
 'daily_20220922T0817.csv',
 'daily_20220922T0818.csv',
 'daily_20220922T0820.csv',
 'daily_20220922T0821.csv']

In [17]:
dfs = []
for item in load_list:
    df = pd.read_csv(f"./data/{item}", low_memory=False, header=1)
    dfs.append(df)
dfs[-1]

,ID,PARAM,TYPE,YEAR,DD,Jan,SYM,Feb,SYM.1,Mar,...,Aug,SYM.7,Sep,SYM.8,Oct,SYM.9,Nov,SYM.10,Dec,SYM.11
0,05MF009,1,1,1915,1,NaN,NaN,NaN,NaN,NaN,...,0.170,NaN,0.028,NaN,0.425,NaN,0.255,NaN,NaN,NaN
1,05MF009,1,1,1915,2,NaN,NaN,NaN,NaN,NaN,...,0.198,NaN,0.028,NaN,0.425,NaN,0.255,NaN,NaN,NaN
2,05MF009,1,1,1915,3,NaN,NaN,NaN,NaN,NaN,...,0.170,NaN,0.028,NaN,0.538,NaN,0.255,NaN,NaN,NaN
3,05MF009,1,1,1915,4,NaN,NaN,NaN,NaN,NaN,...,0.142,NaN,0.028,NaN,0.481,NaN,0.198,NaN,NaN,NaN
4,05MF009,1,1,1915,5,NaN,NaN,NaN,NaN,NaN,...,0.085,NaN,0.028,NaN,0.425,NaN,0.198,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48014,05FC007,2,8,2020,27,NaN,NaN,NaN,NaN,0.762,...,0.482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48015,05FC007,2,8,2020,28,NaN,NaN,NaN,NaN,0.804,...,0.480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48016,05FC007,2,8,2020,29,NaN,NaN,NaN,NaN,0.841,...,0.476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48017,05FC007,2,8,2020,30,NaN,NaN,NaN,NaN,0.985,...,0.470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48018,05FC007,2,8,2020,31,NaN,NaN,NaN,NaN,NaN,...,0.466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df_all = pd.concat(dfs)
df_all.reset_index(drop=True, inplace=True)
df_all

,ID,PARAM,TYPE,YEAR,DD,Jan,SYM,Feb,SYM.1,Mar,...,Aug,SYM.7,Sep,SYM.8,Oct,SYM.9,Nov,SYM.10,Dec,SYM.11
0,11AB005,1,1,1908,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11AB005,1,1,1908,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11AB005,1,1,1908,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11AB005,1,1,1908,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11AB005,1,1,1908,5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1136393,05FC007,2,8,2020,27,NaN,NaN,NaN,NaN,0.762,...,0.482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1136394,05FC007,2,8,2020,28,NaN,NaN,NaN,NaN,0.804,...,0.480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1136395,05FC007,2,8,2020,29,NaN,NaN,NaN,NaN,0.841,...,0.476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1136396,05FC007,2,8,2020,30,NaN,NaN,NaN,NaN,0.985,...,0.470,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1136397,05FC007,2,8,2020,31,NaN,NaN,NaN,NaN,NaN,...,0.466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_all.columns

Index([' ID', 'PARAM', 'TYPE', 'YEAR', 'DD', 'Jan', 'SYM', 'Feb', 'SYM.1',
       'Mar', 'SYM.2', 'Apr', 'SYM.3', 'May', 'SYM.4', 'Jun', 'SYM.5', 'Jul',
       'SYM.6', 'Aug', 'SYM.7', 'Sep', 'SYM.8', 'Oct', 'SYM.9', 'Nov',
       'SYM.10', 'Dec', 'SYM.11'],
      dtype='object')

# Load Combined HYSETS Data

In [22]:
combined_df = pd.read_csv("./data/HYSETS_combined_data_additional.csv", index_col = 0)
combined_df

,watershed,time,watershedID,drainage_area,drainage_area_GSIM,flag_GSIM_boundaries,flag_artificial_boundaries,elevation,slope,discharge,...,Land_Use_Urban_frac,Land_Use_Shrubs_frac,Land_Use_Crops_frac,Land_Use_Snow_Ice_frac,Flag_Land_Use_Extraction,Permeability_logk_m2,Porosity_frac,Flag_Subsoil_Extraction,Hydrometric_station_latitude,Hydrometric_station_longitude
0,0,1950-01-01,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
1,0,1950-01-02,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
2,0,1950-01-03,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
3,0,1950-01-04,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
4,0,1950-01-05,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7308575,289,2018-12-27,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308576,289,2018-12-28,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308577,289,2018-12-29,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308578,289,2018-12-30,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308579,289,2018-12-31,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819

In [23]:
combined_df.columns

Index(['watershed', 'time', 'watershedID', 'drainage_area',
       'drainage_area_GSIM', 'flag_GSIM_boundaries',
       'flag_artificial_boundaries', 'elevation', 'slope', 'discharge', 'pr',
       'tasmax', 'tasmin', 'centroid_lat', 'centroid_lon', 'Source', 'Name',
       'Official_ID', 'Centroid_Lat_deg_N', 'Centroid_Lon_deg_E',
       'Drainage_Area_km2', 'Drainage_Area_GSIM_km2', 'Flag_GSIM_boundaries',
       'Flag_Artificial_Boundaries', 'Elevation_m', 'Slope_deg', 'Gravelius',
       'Perimeter', 'Flag_Shape_Extraction', 'Aspect_deg',
       'Flag_Terrain_Extraction', 'Land_Use_Forest_frac',
       'Land_Use_Grass_frac', 'Land_Use_Wetland_frac', 'Land_Use_Water_frac',
       'Land_Use_Urban_frac', 'Land_Use_Shrubs_frac', 'Land_Use_Crops_frac',
       'Land_Use_Snow_Ice_frac', 'Flag_Land_Use_Extraction',
       'Permeability_logk_m2', 'Porosity_frac', 'Flag_Subsoil_Extraction',
       'Hydrometric_station_latitude', 'Hydrometric_station_longitude'],
      dtype='object')

# Check for Data to Fill Null Discharge Values

In [24]:
percent_missing = combined_df["discharge"].isnull().sum() * 100 / len(combined_df)
percent_missing

65.86434026856107

In [25]:
month_val_dict = {1:'Jan', 2:'Feb', 3:'Mar', 4: 'Apr', 5:'May', 6: 'Jun', 
                  7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'}

df_len = len(combined_df.index)

filled_count = 0

counter = 0

def check_for_new_discharge(x, df_all):
    global counter
    global filled_count
    discharge = x["discharge"]
    if pd.isnull(discharge):
        official_id = x["Official_ID"]
        year = int(x["time"][:4])
        month = month_val_dict[int(x["time"][5:7])]
        day = int(x["time"][8:10])
        new_discharge_df = df_all[(df_all[" ID"]==official_id) & (df_all["YEAR"]==year) & (df_all["DD"]==day) & (df_all["PARAM"]==1)][month]
        if not new_discharge_df.empty:
            new_discharge = new_discharge_df.iloc[0]
            if new_discharge:
                filled_count += 1
            discharge = new_discharge   
    if counter % 100000 == 0:
        now = datetime.now()
        dt_string = now.strftime("%Y/%m/%d %H:%M:%S")
        print(f"Completed {counter} lines of {df_len} at {dt_string}.")
    counter += 1    
    return discharge

combined_df["discharge"] = combined_df.apply(lambda x: check_for_new_discharge(x, df_all), axis = 1)

print(filled_count)
combined_df

Completed 0 lines of 7308580 at 2022/09/22 04:35:11.
Completed 100000 lines of 7308580 at 2022/09/22 05:59:04.
Completed 200000 lines of 7308580 at 2022/09/22 07:28:44.
Completed 300000 lines of 7308580 at 2022/09/22 08:34:14.
Completed 400000 lines of 7308580 at 2022/09/22 10:03:46.
Completed 500000 lines of 7308580 at 2022/09/22 11:19:27.
Completed 600000 lines of 7308580 at 2022/09/22 12:34:26.
Completed 700000 lines of 7308580 at 2022/09/22 13:44:10.
Completed 800000 lines of 7308580 at 2022/09/22 15:01:23.
Completed 900000 lines of 7308580 at 2022/09/22 16:09:31.
Completed 1000000 lines of 7308580 at 2022/09/22 17:41:44.
Completed 1100000 lines of 7308580 at 2022/09/22 19:38:00.
Completed 1200000 lines of 7308580 at 2022/09/22 21:11:46.
Completed 1300000 lines of 7308580 at 2022/09/22 22:15:24.
Completed 1400000 lines of 7308580 at 2022/09/22 23:28:49.
Completed 1500000 lines of 7308580 at 2022/09/23 00:59:42.
Completed 1600000 lines of 7308580 at 2022/09/23 02:27:52.
Completed 1700000 lines of 7308580 at 2022/09/23 03:55:45.
Completed 1800000 lines of 7308580 at 2022/09/23 05:24:48.
Completed 1900000 lines of 7308580 at 2022/09/23 06:41:59.
Completed 2000000 lines of 7308580 at 2022/09/23 07:57:59.
Completed 2100000 lines of 7308580 at 2022/09/23 09:11:45.
Completed 2200000 lines of 7308580 at 2022/09/23 10:51:30.
Completed 2300000 lines of 7308580 at 2022/09/23 12:19:19.
Completed 2400000 lines of 7308580 at 2022/09/23 13:44:42.
Completed 2500000 lines of 7308580 at 2022/09/23 15:10:48.
Completed 2600000 lines of 7308580 at 2022/09/23 16:21:03.
Completed 2700000 lines of 7308580 at 2022/09/23 17:19:59.
Completed 2800000 lines of 7308580 at 2022/09/23 18:06:33.
Completed 2900000 lines of 7308580 at 2022/09/23 19:28:14.
Completed 3000000 lines of 7308580 at 2022/09/23 20:54:41.
Completed 3100000 lines of 7308580 at 2022/09/23 22:18:55.
Completed 3200000 lines of 7308580 at 2022/09/23 23:32:35.
Completed 3300000 lines of 7308580 at 2022/09/24 00:43:20.
Completed 3400000 lines of 7308580 at 2022/09/24 01:47:19.
Completed 3500000 lines of 7308580 at 2022/09/24 03:08:30.
Completed 3600000 lines of 7308580 at 2022/09/24 04:19:29.
Completed 3700000 lines of 7308580 at 2022/09/24 05:19:52.
Completed 3800000 lines of 7308580 at 2022/09/24 06:19:28.
Completed 3900000 lines of 7308580 at 2022/09/24 07:46:09.
Completed 4000000 lines of 7308580 at 2022/09/24 09:01:05.
Completed 4100000 lines of 7308580 at 2022/09/24 09:56:49.
Completed 4200000 lines of 7308580 at 2022/09/24 11:01:08.
Completed 4300000 lines of 7308580 at 2022/09/24 12:02:05.
Completed 4400000 lines of 7308580 at 2022/09/24 13:12:57.
Completed 4500000 lines of 7308580 at 2022/09/24 13:49:09.
Completed 4600000 lines of 7308580 at 2022/09/24 15:17:00.
Completed 4700000 lines of 7308580 at 2022/09/24 16:47:29.
Completed 4800000 lines of 7308580 at 2022/09/24 17:57:06.
Completed 4900000 lines of 7308580 at 2022/09/24 19:33:45.
Completed 5000000 lines of 7308580 at 2022/09/24 21:06:43.
Completed 5100000 lines of 7308580 at 2022/09/24 22:12:37.
Completed 5200000 lines of 7308580 at 2022/09/24 23:02:23.
Completed 5300000 lines of 7308580 at 2022/09/25 00:09:57.
Completed 5400000 lines of 7308580 at 2022/09/25 01:28:38.
Completed 5500000 lines of 7308580 at 2022/09/25 02:53:24.
Completed 5600000 lines of 7308580 at 2022/09/25 04:16:32.
Completed 5700000 lines of 7308580 at 2022/09/25 05:39:32.
Completed 5800000 lines of 7308580 at 2022/09/25 07:15:18.
Completed 5900000 lines of 7308580 at 2022/09/25 08:43:40.
Completed 6000000 lines of 7308580 at 2022/09/25 09:47:10.
Completed 6100000 lines of 7308580 at 2022/09/25 11:00:38.
Completed 6200000 lines of 7308580 at 2022/09/25 12:05:48.
Completed 6300000 lines of 7308580 at 2022/09/25 13:25:50.
Completed 6400000 lines of 7308580 at 2022/09/25 14:20:39.
Completed 6500000 lines of 7308580 at 2022/09/25 15:32:08.
Completed 6600000 lines of 7308580 at 2022/09/25 17:02:08.
Completed 6700000 lines of 7308580 at 2022/09/25 18:10:33.
Completed 6800000 lines of 7308580 at 2022/09/25 19:26:51.
Completed 6900000 lines of 7308580 at 2022/09/25 21:02:46.
Completed 7000000 lines of 7308580 at 2022/09/25 22:17:57.
Completed 7100000 lines of 7308580 at 2022/09/25 23:20:27.
Completed 7200000 lines of 7308580 at 2022/09/26 00:36:00.
Completed 7300000 lines of 7308580 at 2022/09/26 01:40:15.
1094169

,watershed,time,watershedID,drainage_area,drainage_area_GSIM,flag_GSIM_boundaries,flag_artificial_boundaries,elevation,slope,discharge,...,Land_Use_Urban_frac,Land_Use_Shrubs_frac,Land_Use_Crops_frac,Land_Use_Snow_Ice_frac,Flag_Land_Use_Extraction,Permeability_logk_m2,Porosity_frac,Flag_Subsoil_Extraction,Hydrometric_station_latitude,Hydrometric_station_longitude
0,0,1950-01-01,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
1,0,1950-01-02,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
2,0,1950-01-03,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
3,0,1950-01-04,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
4,0,1950-01-05,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7308575,289,2018-12-27,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308576,289,2018-12-28,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308577,289,2018-12-29,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308578,289,2018-12-30,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308579,289,2018-12-31,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819

In [26]:
percent_missing = combined_df["discharge"].isnull().sum() * 100 / len(combined_df)
percent_missing

65.37048236456329

In [27]:
combined_df.to_csv("./data/HYSETS_combined_data_additional_part_2.csv")