# Load NRCan Data from Relevant Region

In [14]:
import pandas as pd
from datetime import datetime

In [15]:
df1 = pd.read_csv("./data/Daily__Jul-7-2022_09_20_02PM.csv", low_memory=False, header=1)
df2 = pd.read_csv("./data/Daily__Jul-7-2022_09_21_20PM.csv", low_memory=False, header=1)
df3 = pd.read_csv("./data/Daily__Jul-7-2022_09_23_39PM.csv", low_memory=False, header=1)
df4 = pd.read_csv("./data/Daily__Jul-7-2022_09_26_15PM.csv", low_memory=False, header=1)
df5 = pd.read_csv("./data/Daily__Jul-7-2022_09_27_43PM.csv", low_memory=False, header=1)
df5

,ID,PARAM,TYPE,YEAR,DD,Jan,SYM,Feb,SYM.1,Mar,...,Aug,SYM.7,Sep,SYM.8,Oct,SYM.9,Nov,SYM.10,Dec,SYM.11
0,05MD010,1,1,1971,1,NaN,NaN,NaN,NaN,0.000,...,0.021,E,0.002,NaN,0.002,NaN,NaN,NaN,NaN,NaN
1,05MD010,1,1,1971,2,NaN,NaN,NaN,NaN,0.000,...,0.011,NaN,0.002,NaN,0.002,NaN,NaN,NaN,NaN,NaN
2,05MD010,1,1,1971,3,NaN,NaN,NaN,NaN,0.000,...,0.008,NaN,0.002,NaN,0.003,NaN,NaN,NaN,NaN,NaN
3,05MD010,1,1,1971,4,NaN,NaN,NaN,NaN,0.000,...,0.006,NaN,0.002,NaN,0.003,NaN,NaN,NaN,NaN,NaN
4,05MD010,1,1,1971,5,NaN,NaN,NaN,NaN,0.000,...,0.005,NaN,0.085,NaN,0.004,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56694,05MB001,2,8,2019,27,NaN,NaN,NaN,NaN,0.640,...,0.268,NaN,0.265,NaN,0.280,NaN,NaN,NaN,NaN,NaN
56695,05MB001,2,8,2019,28,NaN,NaN,NaN,NaN,0.726,...,0.261,NaN,0.262,NaN,0.277,NaN,NaN,NaN,NaN,NaN
56696,05MB001,2,8,2019,29,NaN,NaN,NaN,NaN,0.692,...,0.263,NaN,0.262,NaN,0.274,NaN,NaN,NaN,NaN,NaN
56697,05MB001,2,8,2019,30,NaN,NaN,NaN,NaN,0.569,...,0.269,NaN,0.275,NaN,0.274,NaN,NaN,NaN,NaN,NaN
56698,05MB001,2,8,2019,31,NaN,NaN,NaN,NaN,0.521,...,0.274,NaN,NaN,NaN,0.274,NaN,NaN,NaN,NaN,NaN

In [16]:
df_all = pd.concat([df1, df2, df3, df4, df5])
df_all.reset_index(drop=True, inplace=True)
df_all

,ID,PARAM,TYPE,YEAR,DD,Jan,SYM,Feb,SYM.1,Mar,...,Aug,SYM.7,Sep,SYM.8,Oct,SYM.9,Nov,SYM.10,Dec,SYM.11
0,07QC005,1,1,1988,1,NaN,NaN,NaN,NaN,NaN,...,34.800,NaN,29.100,NaN,26.200,NaN,21.4,B,16.5,B
1,07QC005,1,1,1988,2,NaN,NaN,NaN,NaN,NaN,...,34.500,NaN,28.500,NaN,26.300,NaN,20.9,B,16.5,B
2,07QC005,1,1,1988,3,NaN,NaN,NaN,NaN,NaN,...,34.200,NaN,28.000,NaN,26.100,NaN,20.4,B,16.3,B
3,07QC005,1,1,1988,4,NaN,NaN,NaN,NaN,NaN,...,33.900,NaN,27.400,NaN,26.000,NaN,21.0,B,16.0,B
4,07QC005,1,1,1988,5,NaN,NaN,NaN,NaN,NaN,...,34.200,NaN,27.000,NaN,26.300,NaN,20.9,B,16.2,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407769,05MB001,2,8,2019,27,NaN,NaN,NaN,NaN,0.640,...,0.268,NaN,0.265,NaN,0.280,NaN,NaN,NaN,NaN,NaN
407770,05MB001,2,8,2019,28,NaN,NaN,NaN,NaN,0.726,...,0.261,NaN,0.262,NaN,0.277,NaN,NaN,NaN,NaN,NaN
407771,05MB001,2,8,2019,29,NaN,NaN,NaN,NaN,0.692,...,0.263,NaN,0.262,NaN,0.274,NaN,NaN,NaN,NaN,NaN
407772,05MB001,2,8,2019,30,NaN,NaN,NaN,NaN,0.569,...,0.269,NaN,0.275,NaN,0.274,NaN,NaN,NaN,NaN,NaN
407773,05MB001,2,8,2019,31,NaN,NaN,NaN,NaN,0.521,...,0.274,NaN,NaN,NaN,0.274,NaN,NaN,NaN,NaN,NaN

In [17]:
df_all.columns

Index([' ID', 'PARAM', 'TYPE', 'YEAR', 'DD', 'Jan', 'SYM', 'Feb', 'SYM.1',
       'Mar', 'SYM.2', 'Apr', 'SYM.3', 'May', 'SYM.4', 'Jun', 'SYM.5', 'Jul',
       'SYM.6', 'Aug', 'SYM.7', 'Sep', 'SYM.8', 'Oct', 'SYM.9', 'Nov',
       'SYM.10', 'Dec', 'SYM.11'],
      dtype='object')

# Load Combined HYSETS Data

In [18]:
combined_df = pd.read_csv("./data/HYSETS_combined_data.csv")
combined_df

,watershed,time,watershedID,drainage_area,drainage_area_GSIM,flag_GSIM_boundaries,flag_artificial_boundaries,elevation,slope,discharge,...,Land_Use_Urban_frac,Land_Use_Shrubs_frac,Land_Use_Crops_frac,Land_Use_Snow_Ice_frac,Flag_Land_Use_Extraction,Permeability_logk_m2,Porosity_frac,Flag_Subsoil_Extraction,Hydrometric_station_latitude,Hydrometric_station_longitude
0,0,1950-01-01,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
1,0,1950-01-02,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
2,0,1950-01-03,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
3,0,1950-01-04,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
4,0,1950-01-05,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7308575,289,2018-12-27,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308576,289,2018-12-28,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308577,289,2018-12-29,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308578,289,2018-12-30,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308579,289,2018-12-31,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819

In [19]:
combined_df.columns

Index(['watershed', 'time', 'watershedID', 'drainage_area',
       'drainage_area_GSIM', 'flag_GSIM_boundaries',
       'flag_artificial_boundaries', 'elevation', 'slope', 'discharge', 'pr',
       'tasmax', 'tasmin', 'centroid_lat', 'centroid_lon', 'Source', 'Name',
       'Official_ID', 'Centroid_Lat_deg_N', 'Centroid_Lon_deg_E',
       'Drainage_Area_km2', 'Drainage_Area_GSIM_km2', 'Flag_GSIM_boundaries',
       'Flag_Artificial_Boundaries', 'Elevation_m', 'Slope_deg', 'Gravelius',
       'Perimeter', 'Flag_Shape_Extraction', 'Aspect_deg',
       'Flag_Terrain_Extraction', 'Land_Use_Forest_frac',
       'Land_Use_Grass_frac', 'Land_Use_Wetland_frac', 'Land_Use_Water_frac',
       'Land_Use_Urban_frac', 'Land_Use_Shrubs_frac', 'Land_Use_Crops_frac',
       'Land_Use_Snow_Ice_frac', 'Flag_Land_Use_Extraction',
       'Permeability_logk_m2', 'Porosity_frac', 'Flag_Subsoil_Extraction',
       'Hydrometric_station_latitude', 'Hydrometric_station_longitude'],
      dtype='object')

# Check for Data to Fill Null Discharge Values

In [20]:
percent_missing = combined_df["discharge"].isnull().sum() * 100 / len(combined_df)
percent_missing

66.07499678460111

In [21]:
month_val_dict = {1:'Jan', 2:'Feb', 3:'Mar', 4: 'Apr', 5:'May', 6: 'Jun', 
                  7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'}

df_len = len(combined_df.index)

filled_count = 0

counter = 0

def check_for_new_discharge(x, df_all):
    global counter
    global filled_count
    discharge = x["discharge"]
    if pd.isnull(discharge):
        official_id = x["Official_ID"]
        year = int(x["time"][:4])
        month = month_val_dict[int(x["time"][5:7])]
        day = int(x["time"][8:10])
        new_discharge_df = df_all[(df_all[" ID"]==official_id) & (df_all["YEAR"]==year) & (df_all["DD"]==day) & (df_all["PARAM"]==1)][month]
        if not new_discharge_df.empty:
            new_discharge = new_discharge_df.iloc[0]
            if new_discharge:
                filled_count += 1
            discharge = new_discharge   
    if counter % 100000 == 0:
        now = datetime.now()
        dt_string = now.strftime("%Y/%m/%d %H:%M:%S")
        print(f"Completed {counter} lines of {df_len} at {dt_string}.")
    counter += 1    
    return discharge

combined_df["discharge"] = combined_df.apply(lambda x: check_for_new_discharge(x, df_all), axis = 1)

# for index in combined_df.index:
#     if index % 100000 == 0:
#         print(f"Completed {index} lines of {df_len}.")
#     if pd.isnull(combined_df.loc[index, "discharge"]):
#         official_id = combined_df.loc[index,"Official_ID"]
#         year = int(combined_df.loc[index,"time"][:4])
#         month = month_val_dict[int(combined_df.loc[index,"time"][5:7])]
#         day = int(combined_df.loc[index,"time"][8:10])
#         new_discharge_df = df_all[(df_all[" ID"]==official_id) & (df_all["YEAR"]==year) & (df_all["DD"]==day) & (df_all["PARAM"]==1)][month]
#         if not new_discharge_df.empty:
#             new_discharge = new_discharge_df.iloc[0]
#             if not pd.isnull(new_discharge):
#                 filled_count += 1
#                 combined_df.loc[index, "discharge"] = new_discharge
print(filled_count)
combined_df

Completed 0 lines of 7308580 at 2022/08/22 02:00:55.
Completed 100000 lines of 7308580 at 2022/08/22 02:25:49.
Completed 200000 lines of 7308580 at 2022/08/22 02:57:27.
Completed 300000 lines of 7308580 at 2022/08/22 03:20:59.
Completed 400000 lines of 7308580 at 2022/08/22 03:52:44.
Completed 500000 lines of 7308580 at 2022/08/22 04:19:27.
Completed 600000 lines of 7308580 at 2022/08/22 04:45:51.
Completed 700000 lines of 7308580 at 2022/08/22 05:10:19.
Completed 800000 lines of 7308580 at 2022/08/22 05:37:28.
Completed 900000 lines of 7308580 at 2022/08/22 06:01:30.
Completed 1000000 lines of 7308580 at 2022/08/22 06:34:01.
Completed 1100000 lines of 7308580 at 2022/08/22 07:01:07.
Completed 1200000 lines of 7308580 at 2022/08/22 07:34:00.
Completed 1300000 lines of 7308580 at 2022/08/22 07:56:12.
Completed 1400000 lines of 7308580 at 2022/08/22 08:21:43.
Completed 1500000 lines of 7308580 at 2022/08/22 08:52:25.
Completed 1600000 lines of 7308580 at 2022/08/22 09:22:50.
Completed 1700000 lines of 7308580 at 2022/08/22 09:49:38.
Completed 1800000 lines of 7308580 at 2022/08/22 10:19:52.
Completed 1900000 lines of 7308580 at 2022/08/22 10:46:55.
Completed 2000000 lines of 7308580 at 2022/08/22 11:13:37.
Completed 2100000 lines of 7308580 at 2022/08/22 11:39:16.
Completed 2200000 lines of 7308580 at 2022/08/22 12:14:17.
Completed 2300000 lines of 7308580 at 2022/08/22 12:44:51.
Completed 2400000 lines of 7308580 at 2022/08/22 13:14:43.
Completed 2500000 lines of 7308580 at 2022/08/22 13:44:45.
Completed 2600000 lines of 7308580 at 2022/08/22 14:09:25.
Completed 2700000 lines of 7308580 at 2022/08/22 14:30:32.
Completed 2800000 lines of 7308580 at 2022/08/22 14:47:23.
Completed 2900000 lines of 7308580 at 2022/08/22 15:16:03.
Completed 3000000 lines of 7308580 at 2022/08/22 15:46:29.
Completed 3100000 lines of 7308580 at 2022/08/22 16:15:48.
Completed 3200000 lines of 7308580 at 2022/08/22 16:41:37.
Completed 3300000 lines of 7308580 at 2022/08/22 17:06:46.
Completed 3400000 lines of 7308580 at 2022/08/22 17:29:33.
Completed 3500000 lines of 7308580 at 2022/08/22 17:56:49.
Completed 3600000 lines of 7308580 at 2022/08/22 18:22:09.
Completed 3700000 lines of 7308580 at 2022/08/22 18:43:39.
Completed 3800000 lines of 7308580 at 2022/08/22 19:04:53.
Completed 3900000 lines of 7308580 at 2022/08/22 19:35:14.
Completed 4000000 lines of 7308580 at 2022/08/22 20:01:33.
Completed 4100000 lines of 7308580 at 2022/08/22 20:21:14.
Completed 4200000 lines of 7308580 at 2022/08/22 20:43:46.
Completed 4300000 lines of 7308580 at 2022/08/22 21:05:14.
Completed 4400000 lines of 7308580 at 2022/08/22 21:30:03.
Completed 4500000 lines of 7308580 at 2022/08/22 21:42:46.
Completed 4600000 lines of 7308580 at 2022/08/22 22:13:59.
Completed 4700000 lines of 7308580 at 2022/08/22 22:48:31.
Completed 4800000 lines of 7308580 at 2022/08/22 23:15:13.
Completed 4900000 lines of 7308580 at 2022/08/22 23:53:32.
Completed 5000000 lines of 7308580 at 2022/08/23 00:26:23.
Completed 5100000 lines of 7308580 at 2022/08/23 00:52:04.
Completed 5200000 lines of 7308580 at 2022/08/23 01:09:41.
Completed 5300000 lines of 7308580 at 2022/08/23 01:33:34.
Completed 5400000 lines of 7308580 at 2022/08/23 02:00:30.
Completed 5500000 lines of 7308580 at 2022/08/23 02:24:59.
Completed 5600000 lines of 7308580 at 2022/08/23 02:51:51.
Completed 5700000 lines of 7308580 at 2022/08/23 03:20:48.
Completed 5800000 lines of 7308580 at 2022/08/23 03:54:24.
Completed 5900000 lines of 7308580 at 2022/08/23 04:25:28.
Completed 6000000 lines of 7308580 at 2022/08/23 04:48:19.
Completed 6100000 lines of 7308580 at 2022/08/23 05:14:18.
Completed 6200000 lines of 7308580 at 2022/08/23 05:37:05.
Completed 6300000 lines of 7308580 at 2022/08/23 06:05:15.
Completed 6400000 lines of 7308580 at 2022/08/23 06:24:29.
Completed 6500000 lines of 7308580 at 2022/08/23 06:49:32.
Completed 6600000 lines of 7308580 at 2022/08/23 07:21:12.
Completed 6700000 lines of 7308580 at 2022/08/23 07:45:10.
Completed 6800000 lines of 7308580 at 2022/08/23 08:11:58.
Completed 6900000 lines of 7308580 at 2022/08/23 08:45:34.
Completed 7000000 lines of 7308580 at 2022/08/23 09:12:00.
Completed 7100000 lines of 7308580 at 2022/08/23 09:33:53.
Completed 7200000 lines of 7308580 at 2022/08/23 10:00:33.
Completed 7300000 lines of 7308580 at 2022/08/23 10:23:09.
429973

,watershed,time,watershedID,drainage_area,drainage_area_GSIM,flag_GSIM_boundaries,flag_artificial_boundaries,elevation,slope,discharge,...,Land_Use_Urban_frac,Land_Use_Shrubs_frac,Land_Use_Crops_frac,Land_Use_Snow_Ice_frac,Flag_Land_Use_Extraction,Permeability_logk_m2,Porosity_frac,Flag_Subsoil_Extraction,Hydrometric_station_latitude,Hydrometric_station_longitude
0,0,1950-01-01,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
1,0,1950-01-02,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
2,0,1950-01-03,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
3,0,1950-01-04,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
4,0,1950-01-05,855.0,38.426769,NaN,0.0,0.0,1267.310940,2.663227,NaN,...,0.0461,0.0217,0.8020,0.0,1,-15.200000,0.190000,1,49.49232,-113.9265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7308575,289,2018-12-27,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308576,289,2018-12-28,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308577,289,2018-12-29,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308578,289,2018-12-30,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819
7308579,289,2018-12-31,2371.0,118.000000,141.9198,1.0,0.0,863.181711,1.280368,NaN,...,0.0247,0.0020,0.5747,0.0,1,-16.222831,0.132237,1,49.26167,-107.6819

In [22]:
percent_missing = combined_df["discharge"].isnull().sum() * 100 / len(combined_df)
percent_missing

65.86434026856107

In [23]:
combined_df.to_csv("./data/HYSETS_combined_data_additional.csv")